<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen"/>
    <style>
        html,
        body,
        #map {
            display: block;
            width: 60%;
            height: 100%;
        }

        #map {
            background: #58B;
        }
    </style>
    <script data-main="../../../resources/js/main.js" src="../../../resources/js/lib/require/require.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container orders">
</div>
<div id="map"></div>
</body>
</html>